.contIa{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 25px;
   transition-duration: 0.5s;
   background-color: var(--primary-color);
   border: 2px outset white;
}
.contIaBody{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contIa .contIaBody .contCenter{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contIa .contIaBody .contCenter .contGraficaEPE{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contIa .contIaBody .contCenter .tempRest{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contIa .contIaBody .contCenter .bandLeft{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.contIa .contIaBody .contCenter .dashCenter{
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.contIa .contIaBody .bandBottom{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    padding-right: 14%;
}
.contIa .contIaBody .contCenter .bandLeft .contCard{
    width: 80%;
    height: 24%;
    padding-top: 10px;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #539ee8;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
}
.contIa .contIaBody .contCenter .bandLeft .one{
    background-color: rgba(65, 242, 142, 1);
}
.contIa .contIaBody .contCenter .bandLeft .two{
    background-color: rgba(4, 15, 217, 0.6);
}
.contIa .contIaBody .contCenter .bandLeft .three{
    background-color: rgba(1, 3, 38, 0.6);
}

.contIa .contIaBody .contCenter .bandLeft .contCard:hover{
    cursor: pointer;
    width: 81%;
    opacity: 0.6;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(253, 252, 252, 0.5);
}
.contIa .contIaBody .contCenter .bandLeft .contCard h5{
    font-size: 27px;
}
.contIa .contIaBody .contCenter .bandLeft .contCard p{
    font-size: 16px;
    color: aliceblue;
}
.contIa .contIaBody .contCenter .bandLeft .contCard b{
    font-size: 16px;
    color: #e1ff02;
}
.contIa .contIaBody .bandBottom .contCard{
    width: 80%;
    height: 100%;
    font-size: 80%;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #303030;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
}
.contIa .contIaBody .bandLeft .contCard .contLeftCard{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.contIa .contIaBody .bandLeft .contCard .contRightCard{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contIa .contIaBody .iconBand{
    width: 50px;
    height: 50px;
    color: #000000;
}
.contIa .contIaBody .bandLeft .btnBand{
    width: 50%;
    height: 10%;
    background-color: rgb(0, 196, 204, 0.7);
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;

}
.contIa .contIaBody .bandBottom .btnBand{
    width: 20%;
    height: 80%;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.contIa .contIaBody .bandBottom .contCard:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    width: 100%;
    color: #303030;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
}
.contIa .contIaBody .bandLeft .btnBand:hover{
    background-image: linear-gradient(120deg, #d4fc79 10%, #96e6a1 100%);
    cursor: pointer;
    width: 60%;
    opacity: 0.6;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(253, 252, 252, 0.5);
}

.dashCenter .contSectores{
   width: 55%;
   height: 100%;
}