.contHome{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.contPublic{
    width: 100%;
    height: 100%;
    background: radial-gradient(99.73% 98.31% at 51.96% 40.13%, rgba(96, 103, 242, 0.8) 0.01%, rgba(52, 52, 52, 0.8) 94.06%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.contPublic .contFlotante{
    position: fixed;
    left: 50%;
    top: 96%;
    width: 14%;
    height: 20%;
    background-color: rgba(56, 56, 56, 0.9);
    border-radius: 40px 40px 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding-top: 5px;
    transition: all 0.3s;
    font-size: 15px;
    backdrop-filter: blur(5px);
}
.contPublic .contFlotante p{
    border-bottom: 0.5px solid black;
}
.contPublic .contFlotante:hover{
    top: 81%;
    background-color: rgba(90, 216, 107, 0.7);
    color: rgb(0, 0, 0);
    
    cursor: default;
}
.contBody{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 15px;
    padding-right: 20px;
}
.contBody .contHead{
    width: 100%;
    display: flex;
    height: 10%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.contBody .contHead h1{
    color: #000000;
}
.contNavBar{
    width: 11%;
    height: 90%;
    background: linear-gradient(177.65deg, #5321CA -2.19%, rgba(27, 0, 92, 0.53) 110.15%);
    box-shadow: 0px 21px 21px 1px rgba(45, 29, 71, 0.53);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
}
.contNavBar .contButtons{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
}
.contNavBar .contFooterNav{
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contFooterNav input[type='button']{
    background-color: brown;
    border: none;
    color: white;
    border-radius: 5px;
    width: 67%;
    height: 40%;
    transition: all 0.2s;
}
.contFooterNav input[type='button']:hover{
    border: 1px solid red;
    background-color: transparent;
    color: #ffffff;
    width: 80%;
}

.contNavBar .contButtons .btt{
    width: 100%;
    height: 17%;
    display: flex;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    color: rgb(255, 255, 255);
}
.contNavBar .contButtons .bttn{
    width: 100%;
    height: 17%;
    text-decoration: none;
    color: rgb(0, 250, 54);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    background-color: rgba(2, 115, 30, 1);
}
.contNavBar .contImg{
    width: 95%;
    height: 13%;
    margin-left: 7px;
    background-image: url('../imgs/Chec-400x0.png');
    background-repeat: no-repeat;
    background-size: 101%;
}
.contButtons .btt .iconBtt{
    width: 10%;
    height: 100%;
    position: absolute ;
    left: 10px;
    color: rgb(2, 115, 30);
}
.contNavBar .contButtons .btt:hover{
    cursor: pointer;
    background-color: rgba(2, 115, 30, 1);
}

.contBody .contHead:hover{
    cursor: default;
}