
.login{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../pages/login/imgs/sincerely-media-qlcVpZqzcEc-unsplash.jpg');
    background-repeat: no-repeat;
}
.login .logoCont{
    width: 47%;
    height: 27%;
    background-image: url('../pages/login/logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: none;
}


.login .contForm{
    width: 60%;
    height: 100%;
    padding: 30px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
   
}

.login .contForm .form{
    align-items: center;
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
    border-radius: 15px;
    
    transition: all 0.1s ease-in-out;
    backdrop-filter: blur(1px);
}
.login .contForm .form .headerForm{
    width: 35%;
    height: 35%;
    background-image: url('../pages/login/imgs/logoFondoBlanco-removebg.png');
    background-repeat: no-repeat;
    background-size: 101%;
}
.login .form .formInput{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.login .contForm .form .inputUser{
    width: 80%;
    height: 20%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login .contForm .form  .inputUser input{
    width: 80%;
    height: 25px;
    border: none;
    border: rgb(0, 196, 204) 2px solid;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}

.login .contForm .form .inputPassword{
    width: 80%;
    height: 20%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login .contForm .form  p{
    font-size: 20px;
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contInputIcon{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.contInputIcon .icon{
    color: green;
    position: relative;
    left: 30px;

}
.login .contForm .form  .inputPassword input{
    width: 80%;
    height: 25px;
    border: none;
    border: rgb(0, 196, 204) 2px solid;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}
input[class='inputText']{
    background: white;
}
input[class='inputText']:focus{
    border: none;
}
input[class='inputPasw']{
    background: white;
}

.login .contForm .form .inputButton{
    width: 50%;
    height: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login .contForm .form .inputButton input{
    width: 80%;
    height: 55px;
    margin-top: 10px;
    background: rgb(0, 196, 204, 0.3);
    
    border:  2px solid rgb(0, 196, 204, 0.3);
    border-radius: 15px;
    box-shadow: 6px 6px 15px 1px rgba(0, 0, 0, 0.5);
    color: green;
    font-size: 20px;
    transition: all 0.1s ease-in-out;
    border-radius: 32px;
    
}
.login .contForm .form .inputButton input:hover{
    background-image: linear-gradient(120deg, #d4fc79 10%, #96e6a1 100%);
    cursor: pointer;
    width: 100%;
    opacity: 0.3;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(253, 252, 252, 0.5);
    
}
.login .contForm .form .footerForm{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20%;
    gap: 30px;
}
@media screen and (max-width: 1280px) {
    .login .contForm .form{
        width: 90%;
        margin: 0px;
    }
}
@media screen and (max-width: 548px) {
    .login .contForm .form{
        width: 100%;
        margin: 0px;
        height: 100%;
    }
    .login .contForm{
        width: 100%;
        height: 100%;
    }
}