
.login{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(99.73% 98.31% at 51.96% 40.13%, rgba(96, 103, 242, 0.8) 0.01%, rgba(127, 126, 126, 0.8) 94.06%);
    transition: all 0.2s;
    
}
.login .form{
    align-items: center;
    width: 35%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid white;
    border-radius: 15px;
    
    transition: all 0.1s ease-in-out;
    backdrop-filter: blur(5px);
}
.login .form .headerForm{
    width: 35%;
    height: 35%;
    background-image: url('../pages/login/imgs/logoFondoBlanco-removebg.png');
    background-repeat: no-repeat;
    background-size: 101%;
}
.login .form .formInput{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.login .form .inputUser{
    width: 80%;
    height: 20%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login .form  .inputUser input{
    width: 80%;
    height: 100%;
    border: none;
    border: rgb(0, 196, 204) 2px solid;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}

.login  .form .inputPassword{
    width: 80%;
    height: 20%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login  .form  p{
    font-size: 20px;
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contInputIcon{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.contInputIcon .icon{
    color: green;
    position: relative;
    left: 30px;

}
.login  .form  .inputPassword input{
    width: 80%;
    height: 100%;
    border: none;
    border: rgb(0, 196, 204) 2px solid;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}
input[class='inputText']{
    background: white;
}
input[class='inputText']:focus{
    border: none;
}
input[class='inputPasw']{
    background: white;
}

.login .form .inputButton{
    width: 50%;
    height: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login .form .inputButton input{
    width: 80%;
    height: 55px;
    margin-top: 10px;
    background: rgb(0, 196, 204, 0.3);
    
    border:  2px solid rgb(0, 196, 204, 0.3);
    border-radius: 15px;
    box-shadow: 6px 6px 15px 1px rgba(0, 0, 0, 0.5);
    color: green;
    font-size: 20px;
    transition: all 0.1s ease-in-out;
    border-radius: 32px;
    
}
.login  .form .inputButton input:hover{
    background-image: linear-gradient(120deg, #d4fc79 10%, #96e6a1 100%);
    cursor: pointer;
    width: 100%;
    opacity: 0.3;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(253, 252, 252, 0.5);
    
}
.login  .form .footerForm{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20%;
    gap: 30px;
}
@media screen and (max-width: 950px) {
    .login{
        background-size: 200%;
    }
    .login .form{
        width: 50%;
    }
    
}
@media screen and (max-width: 950px) {
    .login{
        background-size: 200%;
    }
    .login .form{
        width: 50%;
    }
    
}

@media screen and (max-width: 700px) {
    .login .form{
        width: 70%;
    }
    .login{
        background-size: 300%;
    }
}
@media screen and (max-width: 490px) {
    .login{
        background-size: 350%;
    }
    
}
@media screen and (max-width: 400px) {
    .login .form{
        width: 100%;
    }
    .login{
        background-size: 400%;
    }
}
@media screen and (min-height: 864px) and (max-width: 490px){
    .login .form{
        width: 100%;
    }
}
@media screen and (height: 1180px) and (width: 820px){
    .login .form{
        width: 70%;
        height: 70%;
    }
    .login{
        background-size: 400%;
    }
    
}
@media screen and (height: 1368px) and (width: 912px){
    .login .form{
        width: 70%;
        height: 70%;
    }
    .login{
        background-size: 400%;
    }
    
}