.contRegister{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../imgs/background1.jpg');
    background-size: 100%;
    transition: all 0.3s;
}
.contRegister .contForm{
    width: 37%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.8);
    border-radius: 35px;
    transition: all 0.3s;
}
.contRegister .contForm .headerForm{
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.contRegister .contForm .bodyForm{
    width: 100%;
    height: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contRegister .contForm .bodyForm .formInput{
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.contRegister .contForm .bodyForm .formInput .input{
    width: 65%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 7px;
}
.input input{
    width: 100%;
    height: 36px;
    border-radius: 25px;
    padding-left: 10px;
}
.input input[type=text]:hover{
    border: none;
}
.input input[type=text]{
    border: 1px solid #5eace0;
}

.input input[type=password]{
    border: 1px solid #5eace0;
}
.input input[type=password]:hover{
    border: none;
}
.input p{
    margin: 3px;
}
.contRegister .contForm .bodyForm .formInput .inputButton{
    width: 100%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.inputButton input{
    border-radius: 25px;
    width: 25%;
    height: 40%;
    transition: all 0.2s;
}
.inputButton input[value=Registrarme]{
    border: 1px solid #C1D96C;
    background-color: #C1D96C;
    font-size: 100%;
}
.inputButton input[value=Volver]{
    border: 1px solid red;
    background: transparent;
    font-size: 100%;
}
.inputButton input[value=Registrarme]:hover{
    cursor: pointer;
    width: 30%;
    background-color: rgba(193, 217, 108, 0.5);
}
.inputButton input[value=Volver]:hover{
    cursor: pointer;
    width: 30%;
    background-color: red;
}
@media screen and (max-width: 1050px) {
    .contRegister{
        background-size: 200%;
    }
}
@media screen and (max-width: 800px) {
    .contRegister .contForm{
        width: 60%;
    }
    .contRegister{
        background-size: 400%;
    }
    .inputButton input[value=Registrarme]{
        width: 40%;
    }
    .inputButton input[value=Volver]{
        width: 40%;
    }
}
@media screen and (max-width: 400px) {
    .contRegister .contForm{
        width: 100%;
    }
    .contRegister{
        background-size: 400%;
    }
    .inputButton input[value=Registrarme]{
        width: 40%;
    }
    .inputButton input[value=Volver]{
        width: 40%;
    }
}
@media screen and (max-width: 390px) {
    .contRegister .contForm{
        width: 100%;
    }
    .contRegister{
        background-size: 400%;
    }
    .inputButton input[value=Registrarme]{
        width: 40%;
    }
    .inputButton input[value=Volver]{
        width: 40%;
    }
}

@media screen and (min-height: 864px) and (max-width: 490px){
    .contRegister .contForm{
        width: 100%;
    }
    .contRegister{
        background-size: 400%;
    }
    .inputButton input[value=Registrarme]{
        width: 40%;
    }
    .inputButton input[value=Volver]{
        width: 40%;
    }
}
@media screen and (height: 1180px) and (width: 820px){
    .contRegister .contForm{
        width: 80%;
    }
    .contRegister{
        background-size: 400%;
    }
    .inputButton input[value=Registrarme]{
        width: 40%;
    }
    .inputButton input[value=Volver]{
        width: 40%;
    }
}
@media screen and (height: 1368px) and (width: 912px){
    .contRegister .contForm{
        width: 100%;
    }
    .contRegister{
        background-size: 400%;
    }
    .inputButton input[value=Registrarme]{
        width: 40%;
    }
    .inputButton input[value=Volver]{
        width: 40%;
    }
}