
.contTablaFallos{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-radius: 15px;
    overflow: auto;
    color: black;
}
.contTablaFallos::-webkit-scrollbar {
    -webkit-appearance: none;
}
.contTablaFallos .tableHeaderTools{
    width: 90%;
    height: 9%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.contTablaFallos .tableHeaderTools p{
    font-size: 20px;
}
.tablaFallos thead{
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
}
.tablaFallos tbody{
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
}
.contTablaFallos .tableHeaderTools .infoCard{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.contTablaFallos .tableHeaderTools .infoCard p{
    margin: 10px;
}
.contTablaFallos .tableHeaderTools .infoCard .iconT{

    color: rgba(65, 242, 142, 1);
    width: 30px;
    height: 40px;
}
.contTablaFallos .tableHeaderTools .infoCard .iconE{
    width: 30px;
    height: 40px;
    color: rgba(4, 15, 217, 0.6);
}
.contTablaFallos .tableHeaderTools .infoCard .iconR{
    color: var(--warning-color);
    width: 30px;
    height: 40px;
}
.contTablaFallos .tablaFallos{
    border-collapse: collapse;
    width: 90%;
}
.contTablaFallos .tablaFallos, th, td{
  padding: 6px;
  text-align: center;
}
.contTablaFallos .tablaFallos th{
    font-weight: bolder;
    text-align: center;
    background-color: rgba(4, 15, 217, .7);
    color: rgb(255, 255, 255);
    font-size: 21px;
}
.contTablaFallos .tablaFallos .tdBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.contTablaFallos .tablaFallos .tdBtn .iconTd{
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.contTablaFallos .tablaFallos .tdBtn .iconTd .iconT{
    width: 70%;
    height: 70%;
    color: rgba(65, 242, 142, 0.7);
    cursor: pointer;
}
.contTablaFallos .tablaFallos .tdBtn .iconTd .iconE{
    width: 70%;
    height: 70%;
    color: rgba(4, 15, 217, 0.6);
    cursor: pointer;
}
.contTablaFallos .tablaFallos .tdBtn .iconTd .iconR{
    width: 70%;
    height: 70%;
    color: rgba(181, 70, 70, 0.7);
    cursor: pointer;
}
.contTablaFallos .tablaFallos .tdBtn .iconTd .iconT:hover{
    color: rgba(65, 242, 142, 1);
    width: 72%;
}
.contTablaFallos .tablaFallos .tdBtn .iconTd .iconR:hover{
    color: rgba(181, 70, 70, 1);
    width: 72%;
}
.contTablaFallos .tablaFallos .tdBtn .iconTd .iconE:hover{
    color: rgba(4, 15, 217, 1);
    width: 72%;
}

.contTablaFallos .tablaFallos tbody tr{
    background-color: rgba(4, 15, 217, 0.3);
    color: #000;
}
.contTablaFallos .tablaFallos tbody tr:hover{
    background-color: rgba(4, 15, 217, 0.5);
    cursor: default;
}